<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
 
  <link rel='stylesheet' href='https://unpkg.com/bootstrap/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="./style.css">

</head>
    
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <b-container fluid>
    <div class="b-calendar">
      <b-row>
        <b-col lg="4">
          <div class="b-calendar__information">
            <div class="selected-date">
              <div>
                <span class="weekday">{{selectedWeekDay | capitalize}}</span>
              </div>
              <span class="day">{{selectedDayAndMonth.day}}</span>
              <span class="month">{{selectedDayAndMonth.month | capitalize}}</span>
            </div>
            <div class="b-event-container" v-if="windowWidth > 480">
              <h4>Events:</h4>
              <create-event-form v-on:create="createEvent" v-on:update="newEventForm.eventTitle = $event"></create-event-form>
              <b-button-group size="sm">
                <b-button variant="outline-light" :class="{'active': visibility === 'all'}" @click="changeVisibility('all')">All
                </b-button>
                <b-button variant="outline-light" :class="{'active': visibility === 'completed'}" @click="changeVisibility('completed')">Complete
                </b-button>
                <b-button variant="outline-light" :class="{'active': visibility === 'active'}" @click="changeVisibility('active')">Active
                </b-button>
              </b-button-group>
              <transition-group name="event-list" tag="ul" class="event-list" v-if="filteredEventListForSelectedDate.length > 0">
                <li class="event" :class="{'completed': event.completed}" v-for="event in filteredEventListForSelectedDate" :key="event.id">
                  <span class="title">{{event.title}}</span>
                  <div class="buttons">
                    <b-button class="completed-event-btn" :class="{'completed': event.completed}" @click="changeCompletedEvent(event)">
                      <i class="fa" :class="event.completed ? 'fa-check-square' : 'fa-square-o'" aria-hidden="true"></i>
                    </b-button>
                    <b-button class="delete-event-btn" @click="deleteEvent(event)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </b-button>
                  </div>
                </li>
              </transition-group>
              <div class="no-events text-center" v-else>
                Event list is empty...
              </div>
            </div>
            <b-link href="#" class="go-today-link" @click="goToday" v-show="!todayInCurrentMonthAndYear || !todayIsEqualSelectDate">
              Go today
            </b-link>
          </div>
        </b-col>
        <b-col lg="8">
          <div class="b-calendar__calendar">
            <div class="b-calendar__header">
              <b-row>
                <b-col class="year text-right" align-h="end">
                  <span>{{year}}</span>
                </b-col>
              </b-row>
              <b-row align-v="center">
                <b-col class="text-left" align-h="start">
                  <b-button id="goTodayBtn" class="go-today-btn" variant="outline-dark" @click="goToday" v-show="!todayInCurrentMonthAndYear || !todayIsEqualSelectDate">
                    Today
                  </b-button>
                  <b-tooltip target="goTodayBtn" v-show="!todayInCurrentMonthAndYear || !todayIsEqualSelectDate">
                    Back to today
                  </b-tooltip>
                </b-col>
                <b-col class="text-center" align-h="center">

                </b-col>
                <b-col class="month-change-container text-right d-flex flex-row-reverse align-items-center" align-h="end">
                  <b-button id="addMonthBtn" class="arrow arrow-right" variant="light" @click="addMonth">
                    <i class="fa fa-fw fa-chevron-right"></i>
                  </b-button>
                  <b-tooltip target="addMonthBtn">
                    {{nextMonthAsString | capitalize}}
                  </b-tooltip>
                  <div class="month text-center">{{month}}</div>
                  <b-button id="subtractMonthBtn" class="arrow arrow-left" variant="light" @click="subtractMonth">
                    <i class="fa fa-fw fa-chevron-left"></i>
                  </b-button>
                  <b-tooltip target="subtractMonthBtn">
                    {{previousMonthAsString | capitalize}}
                  </b-tooltip>
                </b-col>
              </b-row>
            </div>
            <div class="b-calendar__weekdays">
              <div class="weekday" v-for="(day, index) in days" :key="index">
                <strong>{{day}}</strong>
              </div>
            </div>
            <div class="b-calendar__dates">
              <div class="date text-right" :class="{
                                    'selected': dateIsEqualSelectDate(date),
                                    'today': date.today,
                                    'blank': date.blank,
                                    'no-border-right': date.key % 7 === 0
                                }" v-for="date in dateList" :key="date.key" :data-date="date.date">
                <a class="link" @click="setSelectedDate(date.moment)"></a>
                <span class="day">{{date.dayNumber}}</span>
                <span class="weekday">{{date.weekDay}}</span>
                <div class="additional" v-show="date.additional">
                  <span class="year" v-show="date.additional.year">{{date.additional.year}}</span>
                  <span class="month" v-show="date.additional.month">{{date.additional.month}}</span>
                </div>
                <b-collapse :id="'collapseEvent' + date.key" class="b-event-container event-mobile-container" :class="{'show': !collapseEventList}" v-if="((windowWidth <= 480) && dateIsEqualSelectDate(date))">
                  <h4>Events:</h4>
                  <create-event-form v-on:create="createEvent" v-on:update="newEventForm.eventTitle = $event"></create-event-form>
                  <b-button-group size="sm">
                    <b-button variant="outline-light" :class="{'active': visibility === 'all'}" @click="changeVisibility('all')">All
                    </b-button>
                    <b-button variant="outline-light" :class="{'active': visibility === 'completed'}" @click="changeVisibility('completed')">Completed
                    </b-button>
                    <b-button variant="outline-light" :class="{'active': visibility === 'active'}" @click="changeVisibility('active')">Active
                    </b-button>
                  </b-button-group>
                  <transition-group name="event-list" tag="ul" class="event-list" v-if="filteredEventListForSelectedDate.length > 0">
                    <li class="event" :class="{'completed': event.completed}" v-for="event in filteredEventListForSelectedDate" :key="event.id">
                      <span class="title">{{event.title}}</span>
                      <div class="buttons">
                        <b-button class="completed-event-btn" :class="{'completed': event.completed}" @click="changeCompletedEvent(event)">
                          <i class="fa" :class="event.completed ? 'fa-check-square' : 'fa-square-o'" aria-hidden="true"></i>
                        </b-button>
                        <b-button class="delete-event-btn" @click="deleteEvent(event)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </b-button>
                      </div>
                    </li>
                  </transition-group>
                  <div class="no-events text-center" v-else>
                    Event list is empty...
                  </div>
                </b-collapse>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </div>
  </b-container>
</div>
    <div class="box"></div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js'></script>
<script src='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script><script  src="./script.js"></script>

</body>
</html>
