
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
    font-family:'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #004fa3, #d4a20b);
    display: flex;
}

body {
    height: 100%;
    overflow-y: hidden;
}
.login-card {
    width:400px;
    background: rgba(255, 255, 255, .5);
    padding: 3rem;
    border-radius: 8px;
    position: relative;
}

.login-card::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.login-card-logo {
    margin-bottom: 4rem;
}

.login-card-logo,
.login-card-header {
   text-align: center;
}

.login-card a {
    text-decoration: none;
    color:rgba(8, 8, 235, 0.952)
}

.login-card a:hover {
    text-decoration: underline;
}

.login-card-header {
    margin-bottom: 2rem;
}

.login-card-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.login-card-header h1+div {
    font-size: calc(1rem * .8);
    opacity: .8;
}

.login-card-form {
    display: flex;
    flex-direction: column;
    gap:  2rem;
}


.login-card-form .form-item {
    position: relative;
    
}

.login-card-form .form-item .form-item-icon {
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}

.login-card-form .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.login-card-form .form-item-other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(lrem * .8);
    margin-bottom: .5rem;
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255,.3);
    margin-left: -8%;
    padding:  1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 95%;
    transition: background .5s;
}

.login-card input:focus {
    background: white;
}

.login-card input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: Black;
}

.login-card-form button {
    background: black;
    color: white;
    padding:  1rem;
    border-radius:  100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.login-card-form button:hover {
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}

.login-card-social-btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 100px;
    transition: all .5s;
}
