@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body {
  background-color: #DCDCDC;
}

#menusidebar {
  border-radius: 25px;
  background: #FFFFFF;
  padding: 20px; 
  width: 200px;
  height: 700px;  
}
